/* landing page design  */
/* developed by karim  */
/* codsoft - task 2  */

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Jost', sans-serif;
    text-decoration: none;
    list-style: none;
}
body{
    height: 100vh;
    background: url('panda/bg01.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
header{
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 8px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    padding-top: 5px;
    width: 75px;
    cursor: pointer;
}
header .fa-bars{
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    color: #222;
    display: none;
}

header .navbar{
    display: flex;
}

header .navbar a{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 28px;
    color: #222;
    border-bottom: solid 2.5px transparent;
    transition: .3s ease;
}

header .navbar a:hover{
    border-bottom: solid 2.5px #81c12e;
    color: #81c12e;
    background-color: #000000e7;
}

header .nav-icon i{
    font-size:26px;
    color: #000000;
    margin-left: 20px;

}
header .nav-icon i:hover{
    font-size:27px;
    color: #81c12e;
    transform:scale(1.2);
}
.protect-logo img{
    width: 65px;
    margin: auto;
    padding-top: 5px;
}
section{
        padding: 5% 8%;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        align-items: center;
}


.home{
    height: 100vh;
    display: grid;
    flex-direction: column;
    justify-content: center;
}

.panda-res {
   max-width: 100%;
}

.home .content h4{
    font-size: 21px;
    font-weight: 500px;
    color: #81c12e;
    letter-spacing: 10px;
    text-transform: uppercase;
}
span{
    padding: 4px 10px 4px 10px;
    text-align: center;
    border-radius: 8px;
    background-color: #000000;
}

span:hover{
    background-color: #fff;
}

.home .content h1{
    font-size:65px;
    padding: 30px 0px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1.1;
}

.home .content p{
    max-width: 450px;
    font-size: 17px;
    margin-bottom: 20px;
    padding: 0px 5px;
}

.home .content .btn{
    display: inline-block;
    padding: 10px 30px ;
    background-color: #81c12e;
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0 15px 0 15px;
    transition: .3s ease;
}

.home .content .btn:hover{
    display: inline-block;
    padding: 10px 30px ;
    background-color: #000000;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border-radius: 15px 0 15px 0;

}


.home .content .social-icon{
    position: absolute;
    bottom: 10%;
}

.home .content .social-icon a{
    display: inline-flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #fff;
    margin: 7px;
    border-radius: 15px 0 15px 0;
    font-size: 20px;
    transition: .3s ease;
}

.home .content .social-icon a:hover{
    color: #81c12e;
    background-color: #fff;
    border-radius: 0 15px 0 15px;
}


@media (max-width: 768px) and (max-width: 960px) {
    body {
        background: url('panda/bg01.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: #427b00;
    }

    header {
        width: 100%;
        position: relative;
        padding: 0 30px;
    }

    .logo img {
        width: 75px;
    }

    header .fa-bars {
        display: none; 
    }

    header .navbar {
        display: none; 
        flex-direction: column; 
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    header .navbar a {
        padding: 10px 0; 
        display: block;
        border-bottom: none;
    }

   
    .home {
        margin-top: 110px;
        padding: 50% 2%; 
        text-align: center;
        display: flex;
    }

    .panda-res {
       max-width: 100%;
    }
    

    .home .content h1 {
        font-size: 19px; 
        padding: 13px 0; 
    }
    span{
        font-size: 25px;
        font-weight: 700;
    }
    h4{
        margin: 25px 0;
    }
    .home .content p {
        text-align: center;
        font-weight: 500;
        font-style: italic;
        color: #fff;
        font-size: 14px; 
    }

    .home .content .btn {
        padding: 10px 20px; 
        font-size: 18px; 
    }

    .home .content .social-icon {
        position: static; 
        margin-top: 20px; 
    }

    .home .content .social-icon a {
        width: 40px; 
        height: 40px;
        margin: 5px;
        border-radius: 50%; 
    }
}

/* landing page design  */
/* developed by karim  */
/* codsoft - task 2  */